<!--Current About Section-->
<app-navbar></app-navbar>
<body class="bg-gradient" style="background-color: rgb(73,71, 134);">
  <!-- Header-->
  <header class="py-5">
      <div class="container px-lg-5">
          <div class="p-4 p-lg-5  rounded-3 text-center" style="background-color:rgb(154, 34, 87);color:rgb(225, 236, 238);box-shadow: 1rem 0.5rem 0.5rem black;">
              <div class="m-4 m-lg-5">
                  <h1 class="display-5 fw-bold">ABOUT</h1>
                  <p class="fs-4">The Game Guidance Site was created to find you a new game to play. Using the IGDB public API, we'll help you find that next 
                    hidden gem within a sea of options!</p>
              </div>
          </div>
      </div>
  </header>
  <!-- Page Content-->
  <section class="pt-4">
      <div class="container px-lg-5">
          <!-- Page Features-->
          <div class="row gx-lg-5">
              <div class="col-lg-6 col-xxl-4 mb-5" style="margin-left: 10rem; margin-right: 5rem;">
                  <div class="card bg-gradient border-0 h-100 " style="background-color: #C4BEBB; color: rgb(39, 41, 41);box-shadow: 1rem 0.5rem 0.5rem black;">
                      <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                          <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                          <img src="assets/young_jude.png" class="card-img-top img-fluid" alt="..." style="margin-top: 2rem"/>
                          <h2 class="fs-4 fw-bold" style="margin-top: 1rem;">Jude Davis</h2>
                          <p class="mb-0">Full Stack Developer</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                  <div class="card bg-gradient border-0 h-100" style="background-color: #C4BEBB; color: rgb(39, 41, 41);box-shadow: 1rem 0.5rem 0.5rem black;">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                      <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                        <img src="assets/young_troy.png" class="card-img-top img-fluid" alt="..." style="margin-top: 2rem"/>
                          <h2 class="fs-4 fw-bold" style="margin-top: 1rem;">Troy Wilson</h2>
                          <p class="mb-0">Full Stack Developer</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row gx-lg-5">
              <div class="col-lg-6 col-xxl-4 mb-5" style="margin-left: 10rem; margin-right: 5rem;">
                <div class="card bg-gradient border-0 h-100" style="background-color: #C4BEBB; color: rgb(39, 41, 41);box-shadow: 1rem 0.5rem 0.5rem black;">
                  <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                      <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                        <img src="assets/young_kev.png" class="card-img-top img-fluid" alt="..." style="margin-top: 2rem"/>
                          <h2 class="fs-4 fw-bold" style="margin-top: 1rem;">Kevin Merck</h2>
                          <p class="mb-0">Full Stack Developer</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-gradient border-0 h-100" style="background-color: #C4BEBB; color: rgb(39, 41, 41);box-shadow: 1rem 0.5rem 0.5rem black;">
                  <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                      <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div> -->
                        <img src="assets/young_elber.png" class="card-img-top img-fluid" alt="..." style="margin-top: 2rem"/>
                          <h2 class="fs-4 fw-bold" style="margin-top: 1rem;">Elber Funez</h2>
                          <p class="mb-0">Full Stack Developer</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container"><p class="m-0 text-center text-white">Last Updated: December 2022</p></div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>


<!--Original About Section-->
<!-- <app-navbar></app-navbar>
<div class="m-2">
  <div class="my-background card float-left" style="width: 18">
    <img src="assets/ggImg.png" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title">ABOUT</h5>
      <p class="card-text">
        The Game Guidance Site was created to find you a new game to play
      </p>
    </div>
  </div>
</div>

<hr>

<div class="items">
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_jude.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Jude Davis</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_troy.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Troy Wilson</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_kev.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Kevin Merck</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_elber.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Elber Funez</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
</div> -->

