<app-navbar></app-navbar>
<div class="m-2">
  <div class="my-background card float-left" style="width: 18">
    <img src="assets/ggImg.png" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title">ABOUT</h5>
      <p class="card-text">
        The Game Guidance Site was created to find you a new game to play
      </p>
    </div>
  </div>
</div>

<hr>

<div class="items">
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_jude.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Jude Davis</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_troy.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Troy Wilson</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_kev.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Kevin Merck</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
  <div class="img-background-personal card float-left" style="width: 10">
    <img src="assets/young_elber.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Elber Funez</h5>
      <p class="card-text">
        Full Stack Developer
      </p>
    </div>
  </div>
</div>

