<app-navbar></app-navbar>

<h2>{{username}}'s Favorite Games</h2>
<div  *ngFor="let f of favorites" >
  <div class="d-flex justify-content-center m-1">
  <div class="col-md-4" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{f.name}}</h5>
        <p class="card-text">{{f.summary}}</p>
          <div class="btn-toolbar m-auto" role="toolbar">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button class="btn btn-outline-primary" (click)="removeFromFavorites(f.gameId)">Remove from Favorites</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="First group">
            </div>
          </div> 
          <div class="rate">
            <ngb-rating [(rate)]="f.rating" (rateChange)="updateRating(f.gameId , f.rating)"></ngb-rating>            
          </div> 
        </div>
      </div>
  </div>
</div>