<app-navbar></app-navbar>

<h2>{{username}}'s Favorite Games</h2>

<!-- <div class="row">
  <div class="col-md-4">
    <div class="card">
      <img
        class="card-img-top"
        src="https://cdn.cloudflare.steamstatic.com/steam/apps/292030/capsule_616x353.jpg?t=1668443314"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">The Witcher 3</h5>
        <p class="card-text">
          The Witcher 3: Wild Hunt is a 2015 action role-playing video game
          developed and published by CD Projekt. Based on The Witcher series of
          fantasy novels by Polish author Andrzej Sapkowski, it is the sequel to
          the 2011 game The Witcher 2: Assassins of Kings and the third main
          installment in The Witcher video game series, played in an open world
          with a third-person perspective.
        </p>
        <a
          href="https://www.youtube.com/watch?v=1Vya1wzjxqY"
          class="btn btn-primary"
          >Watch Trailer</a
        >
        <div class="rate">
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
    </div>
    <br />
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="https://upload.wikimedia.org/wikipedia/en/d/dd/Twisted_Metal_2.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Twisted_Metal_2 </h5>
          
          <p class="card-text">
          Twisted Metal 2 is a demolition derby which permits the usage of ballistic projectiles. Players choose a vehicle and an arena—or a series of arenas in the story mode—to engage in battle with opposing drivers. A variety of weapons are obtainable by pick-ups scattered throughout the stage.
        </p>
         
          <a
            href="https://upload.wikimedia.org/wikipedia/en/d/dd/Twisted_Metal_2.jpg"
            class="btn btn-primary"
            >Watch Trailer</a
          >

          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
        </div>
      </div>
    </div>
  </div>

<p>This rating uses customized default values.</p>
<ngb-rating [rate]="3"></ngb-rating> -->

<div  *ngFor="let f of favorites" class="row">
  <div class="col-md-4" >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{f.name}}</h5>
        <p class="card-text">{{f.summary}}</p>
          <div class="btn-toolbar m-auto" role="toolbar">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button class="btn btn-outline-primary" (click)="removeFromFavorites(f.gameId)">Remove from Favorites</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="First group">
            </div>
          </div>      
        </div>
      </div>
      <br />
    </div>