
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
  <a class="navbar-brand d-inline-flex mr-5" href="#">
    <img src="assets/gglogo2.png" alt="" height="36">
 </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="d-inline-flex">
        <form class="form-inline my-2 my-lg-0 ml-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div class="d-inline-flex ml-5">
        <li class="nav-item ml-4">
          <a class="nav-link" href="#">Main Page</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
      </li>
      </div>


    </ul>

  </div>
</nav>
