<app-navbar></app-navbar>
<!-- header and button -->
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h3>Click here to start your game search</h3>
    </div>
    <hr />
    <div class="col-sm-12 mb-4">
      <button
        class="btn btn-outline-danger btn-lg col-12"
        (click)="openPopup()"
      >
        Start Search
      </button>
    </div>
  </div>
</div>
<hr />
<!-- question bank -->

<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 mt-3">
      <h3>Question Responses</h3>
    </div>
    <div class="col-sm-12 mb-4">
      <button
        class="btn btn-success btn-lg col-3"
      >
        Find Games!
      </button>

      <button
        class="btn btn-danger btn-lg col-3"
        (click)="clearAllResponses()"
      >
        Clear Responses
      </button>
    </div>
    <hr />
    <div class="col-sm-12 mb-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Question No</th>
            <th scope="col">Question</th>
            <th scope="col">Response</th>
            <th scope="col">User has answered</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questionList; index as i">
            <td *ngIf="question.isAnswered">{{ question.id }}</td>
            <td *ngIf="question.isAnswered">{{ question.questionName }}</td>
            <td *ngIf="question.isAnswered">{{ question.userResponse }}</td>
            <td *ngIf="question.isAnswered">{{ question.isAnswered }}</td>
            <td *ngIf="question.isAnswered"> <button (click)="setQuestionNumber(i + 1)" class="btn btn-outline-info m-0"
              >Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- question modal -->

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngFor="let question of getCurrentQuestion()"
  [ngStyle]="{ display: displayStyleQuestionModal }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ question.questionName }}</h4>
      </div>
      <div class="modal-body">
        <p style="color: red">{{modalWarningText}}</p>
        <!-- <p>Get API response for items here in dropdown</p> -->
        <select class="form-select" [(ngModel)]="selectedResponse">
            <option selected>None</option>
            <option>No Preference</option>
            <option *ngFor="let choice of choicesList; index as i" value={{choice.id}}>{{choice.choiceName}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showNextQuestion()">Next Question</button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>